*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

/* navigation bar start */
.hamburger{
    display: none;
}

.close{
    display: none;
}

.container-fluid{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.container-fluid .logo{
    margin: 10px;
}

.container-fluid .navigation{
    top: 7px;
    position: relative;
}

.container-fluid .buttons{
    margin: 10px;
    color: rgb(46, 104, 192);
}

.container-fluid .buttons span{
    font-size: larger;
    font-weight: 600;
}

.navigation ul{
    list-style: none;
}

.navigation ul li{
    list-style: none;
    display: inline-block;
    position: relative;
}

.navigation ul li a{
    display: block;
    padding: 16px 20px;
    text-decoration: none;
    color: rgb(46, 104, 192);
    font-size: larger;
    font-weight: 600;
    text-align: center;
}

.navigation ul li ul.dropdown li{
    display: block;
}

.navigation ul li ul.dropdown{
    width: 100%;
    position: absolute;
    z-index: 111;
    display: none;
}

ul li a:hover{
    background-color: aliceblue;
    border-radius: 8px;
}

ul li:hover ul.dropdown{
    display: block;
}

@media (max-width: 1350px) {
    nav{
        background-image: url(imgs/logo.png);
        background-repeat: no-repeat;
        background-size: 100px;
        background-position: start;
    }

    .container-fluid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        position: relative;
        width: 330px;
        left: -100%;
        top: 78px;
        transition: all .5s ease-out;
        backdrop-filter: blur(35px);
        z-index: 111;
    }

    .container-fluid .logo{
        display: none;
    }

    .hamburger{
        width: 40px;
        display: block;
        right: 12px;
        top:17px;
        position: absolute;
        cursor: pointer;
    }


    .close{
        font-size: 30px;
        font-weight: 900;
        width: 40px;
        display: none;
        right: 12px;
        top: 17px;
        position: absolute;
        z-index: 999;
    }

    .close:hover{
        cursor: pointer;
        color: red;
    }

    .container-fluid .buttons{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
/* navigation bar end */

/* hero section start */
.hero{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.all{
    background-image: url(imgs/hero\ background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 94%;
    height: 100%;
    display: flex;
}

.description{
    width: 500px;
    text-align: start;
}

.trustPilot{
    background: rgb(255, 255, 255);
    border-radius: 6px;
    width: auto;
}

.hero-img{
    width: 600px;
    right: -180px;
    position: relative;
}

@media (max-width: 700px) {
    .hero{
        top: 80px;
        position: absolute;
    }

    .all{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .description{
        width: 330px;
        text-align: center;
    }

    .hero-img{
        top: -50px;
        width: 330px;
        right: 0px;
        position: relative;
    }
}
/* hero section end */

/* section 1 start */
@media (max-width: 1200px) {
    .one{
        top: 1050px;
        position: absolute;
    }
    
    .one .container{
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        align-items: center;
    }
        
}
/* section 1 end */

/* section 2 start */
.two{
    background-color: aliceblue;
}

.two-2{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two-2 .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.two-2 .card{
    max-width: 500px;
    height: auto;
    left: 60px;
}

@media (max-width: 700px) {
    .two{
        position: relative;
        top: 1030px;        
    }

    .two-2 .container{
        background-color: aliceblue;
        position: relative;
        top: 990px;
    }

    .two-2 .card{
        left: 0;
    }
}
/* section 2 end */

/* section 3 start */
@media (max-width: 700px) {
    .three{
        top: 950px;
        position: relative;
    }
    .three-2{
        top: 950px;
        position: relative;
    }
    .three-2 .threeRowStart{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .three-2 .threeRowStart .card{
        padding: none;
        margin: none;
        width: none;
    }
}
/* section 3 end */

/* section 4 start */
.four .rowFourStart .col-md-6{
    margin-top: 20px;
}

.four .rowFourStart .col-md-6 .card .icon{
    font-size: 30px;
    left: 19px;
    top: 7px;
    position: relative;
}

.four .rowFourStart .col-md-6 .card-content {
    background-color: aliceblue;
    min-height: 224px;
}

@media (max-width: 1000px) {
    .four{
        top: 950px;
        position: relative;
    }

    .four .rowFourStart{
        display: flex;
    }

    .four .rowFourStart .col-md-6{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .four .rowFourStart .col-md-6 .card {
        margin: 10px;
    }
}
/* section 4 end */

/* section 5 start */
.five .container .swiper .row{
    gap: 20px;
    height: 600px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    overflow: scroll;
}

.five .container .swiper .row .card{
    width: 330px;
    height: 580px;
    background-image: url(imgs/img-all.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
}

.five .container .swiper .row .card .playBtn{
    background-color: azure;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 24px;
    top: 12px;
    right: 12px;
    position: absolute;
}

.five .container .swiper .row .card .content{
    backdrop-filter: blur(20px);
    border-radius: 8px;
    bottom: 12px;
    position: absolute;
    width: 300px;
    padding: 20px;
}

@media (max-width: 800px) {
    .five .container{
        top: 950px;
        position: relative;
    }
}
/* section 5 end */

/* section 6 start */
.six{
    background-color: aliceblue;
}

.six .card-img{
    display: flex;
    justify-content: start;
    position: relative;
}

.six .container .card{
    max-width: 28rem;
    border: none;
}

@media (max-width: 800px) {
    .six .container{
        top: 1000px;
        position: relative;
        background-color: aliceblue;
    }
}
/* section 6 end */

/* section 7 start */
.seven .box{
    width: 80%;
    height: 800px;
    background-color: #fff;
    border-radius: 18px;
    top: -25px;
    position: relative;
}

.seven .box .left{
    width: 35%;
}

.seven .box .right{
    width: 65%;
}

.seven .box .left .btns button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 700;
    border: none;
    background-color: #fff;
    top: -25px;
    position: relative;
}

.seven .box .right .dots{
    font-size: 10px;
    padding-top: 20px;
    cursor: pointer;
}

.seven .box .thrid .left .figs{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
    gap: 500px;
    top: 200px;
    position: relative;
}

.seven .box .thrid .left .figs .circle{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    border-radius: 50%;
    position: relative;
    right: -170px;
    z-index: 22;
}

.seven .box .thrid .right .boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.seven .box .thrid .right .box-1{
    /* background-color: aliceblue; */
    border: 1px solid blue;
    border-radius: 4px;
    text-align: start;
    width: 100px;
}

.seven .box .thrid .right .box-1 .icon{
    font-size: 45px;
}

.seven .box .thrid .right .box-2{
    border-radius: 4px;
    text-align: start;
    width: 100px;
}

.seven .box .thrid .right .box-2 .icon{
    font-size: 45px;
}

@media (max-width: 990px) {
    .seven .box .left{
        display: none;
    }
}

@media (max-width: 800px) {
    .seven .box{
        top: 950px;
        position: relative;
    }

    .seven .box .right{
        width: 100%;
        text-align: justify;
    }
}
/* section 7 end */